<div id="counter_component">
<div style="font-size: 3em; width: 100%; height: 100%; text-align: center;">
<div id="counter"></div>
<button>Set</button>
</div>
</div>
<script>
(function(component_name) {
   var ajax = function() {
     socket.emit('get_userid');

     xhr = new XMLHttpRequest();
     xhr.open('GET', '/api/set', true)
     xhr.send(null);
   };

   var setData = function(data) {
     console.log('***', 'setData', component_name, data);
     switch (data.room) {
       case "/api/get":
         document.getElementById("counter").innerHTML = data['data'];
         break;
     }
   };

   document.querySelector("#counter_component button").onclick = ajax;

   {% set services = ["/api/get"] %}
   {% include "component.js" %}
 })('counter');
</script>
